.App {
  text-align: center;
  font-size: 12pt;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(5px + 1vmin);
  color: peachpuff;
  padding-left: 20px;
}

.App-link {
  color: #61dafb;
}

.text-border{
  border-radius: 10px;
  padding: 5px 20px;
  background-color: royalblue;
}

.exhibit {
  background-color: white;
  border: 4px solid gray;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 16px;
  padding: 16px;
}

.exhibit__heading {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 8px 0;
  text-align: center;
}

.exhibit__content {
  padding: 16px;
}